body {
    margin: 0 0 0 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

@font-face {
    font-family: Rough;
    src: url(./rough_anthem/Rough\ Anthem.ttf);
}



header {
	background-color: white;
	color: black;
	padding: 15px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: black;
}

img { 
    max-width: 250px;
    max-height: 250px;
}

nav {
	display: flex;
	justify-content: space-between;
    margin-right: 70px;
    font-family: Rough;
    border: 10px;
}

nav ul {
	list-style: none;
	display: flex;
    
}

nav li {
	margin-right: 20px;
    display: flex;
    align-items: center;
    padding-right: 30px;
}

nav a {
	color: black;
	text-decoration: none;
	font-size: 20px;
}

.topofthepage {
    background: url(./images/austin-distel-x1J0zj63ZjM-unsplash.jpg);
}